html,
body,
textarea
{
    margin:0;
    padding:0;
}

#droptable
{
    position: absolute;
    width:100%;
    height:100%;
}

.dropped
{
    position: absolute;
    cursor: pointer;
}

.snippet
{
    border:1px solid black;
    background-color: silver;
    width: 100px;
    height: 100px;
    padding: 5px;
    overflow: hidden;
}
